.header-wrapper {
    height: 75px;
    background: #000;
    width: 100%;
}
.header {
    width: 1170px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.header-logo__img {
    width: 183.099px;
    height: 74.854px;
    padding-left: 115.28px;
}
.header-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.header-nav__item {
    width: 113.799px;
    height: 75px;
    text-align: center;
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 600;
    text-transform: capitalize;
    text-decoration: none;
    color: #FFF;
    line-height: 75px;
}

@media screen and (max-width: 1200px) {
    .header {
        width: 95%;
    }
}

@media screen and (max-width: 910px) {
    .header {
        flex-direction: column;
        padding-bottom: 180px;
    }
    .header-wrapper {
        height: 100%;
        margin: auto;
    }
    .header-nav {
        flex-direction: column;
        margin: auto;
    }
    .header-logo {
        display: flex;
        align-items: flex-start;
    }
    .header-logo__img {
        padding-left: 5px;
        
    }
}
